import {{component}} from './{{component}}';
{{#subComponents}}
import {{.}} from './{{.}}';
{{/subComponents}}

export default {{component}};

export {
  {{#subComponents}}
  {{.}}
  {{/subComponents}}
};
